:root{
    --main-body: radial-gradient(circle,rgba(200, 0, 220, 1) 0%, rgba(0, 0, 0, 1) 58%);
    --main-text: rgba(220, 220, 220, 1);
    --menu-body: rgba(0,0,0,0.8);
    --logo-bg: rgba(255, 171, 0, 1);
    --logo-main: rgba(0,0,0,1);
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16pt;
    color: var(--main-text);
    font-family: Helvetica, sans-serif;
    position: relative;
}

body{
    min-height: 100dvh;
    background: var(--main-body);
    background-size: 100% 300%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 8rem;
}

.header{
    text-align: center;
}

.main-header{
    font-size: 5rem;
    margin-bottom: 1.5rem;
    left: -100px;
    opacity: 0;
    animation: slideIn 2.5s ease-in-out forwards;
}

.subheader{
    font-size: 2rem;
    left: -100%;
    opacity: 0;
    animation: slideIn 3s 2.5s ease-in-out forwards;
}

.cat-header{
    margin-top: 5rem;
    font-size: 2rem;
    
}

.nav-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--menu-body);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.logo{
    align-content: center;
    justify-self: center;
}

.logo, .menu-list li{
    font-size: 1.5rem;
    margin: 0.2rem 2rem;
}

.menu-list li{
    transition-duration: 350ms;
    position: relative;
    cursor: pointer;
}

.menu-list li::after{
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--main-text);
    transform-origin: center;
    transform: scale(0);
    transition-duration: 350ms;
}

.menu-list li:hover::after{
    transform: scale(1);
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.category{
    padding: 2rem 10rem !important;
}

.row{
    display: flex !important;
    flex-direction: row !important;
}

.grid{
    display: grid !important;
    grid-template-columns: repeat(12, 1fr) !important;
}

.grid-col-2{
    grid-column: auto / span 5;
}

.grid-col-3{
    grid-column: auto / span 4;
}

.grid-col-4{
    grid-column: auto / span 3;
}

.grid-col-5{
    grid-column: auto / span 2;
}

.grid-col-1{
    grid-column: auto / span 6;
}

.grid-col-6{
    grid-column: auto / span 1;
}

.product-image{
    width: 100%;
}

.product-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-header{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.text-right{
    text-align: right !important;
}

.text-left{
    text-align: start !important;
}

.btn{
    margin: 2rem 1rem;
    align-self: center;
    justify-self: center;
    padding: 0.25rem 4rem;
    border-radius: 100dvw;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-product{
    background-color: var(--logo-bg);
    color: var(--logo-main);
    transition-duration: 500ms;
}

.btn-product:hover{
    background-color: var(--logo-main);
    color: var(--logo-bg);
}

@keyframes slideIn {
    0%{
        left: -100%;
        opacity: 0;
    }
    25%{
        left: -90%;
        opacity: 0.1;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}