:root{
    --main-body: radial-gradient(circle,rgba(200, 0, 220, 1) 0%, rgba(0, 0, 0, 1) 58%);
    --main-text: rgba(220, 220, 220, 1);
    --menu-body: rgba(0,0,0,0.5);
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16pt;
    color: var(--main-text);
    font-family: Helvetica, sans-serif;
    position: relative;
}

body{
    min-height: 100dvh;
    background: var(--main-body);
    background-size: 100% 300%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 8rem;
}

.header{
    text-align: center;
}

.main-header{
    font-size: 5rem;
    margin-bottom: 1.5rem;
    left: -100px;
    opacity: 0;
    animation: slideIn 2.5s ease-in-out forwards;
}

.subheader{
    font-size: 2rem;
    left: -100%;
    opacity: 0;
    animation: slideIn 3s 2.5s ease-in-out forwards;
}

.cat-header{
    margin-top: 5rem;
    font-size: 2rem;
    
}

.nav-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    background-color: var(--menu-body);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.logo{
    align-content: center;
    justify-self: center;
}

.logo, .menu-list li{
    font-size: 1.5rem;
    margin: 0.2rem 2rem;
}

.menu-list li{
    transition-duration: 350ms;
    position: relative;
    cursor: pointer;
}

.menu-list li::after{
    content: '';
    position: absolute;
    bottom: -3px;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: var(--main-text);
    transform-origin: center;
    transform: scale(0);
    transition-duration: 350ms;
}

.menu-list li:hover::after{
    transform: scale(1);
}

@keyframes slideIn {
    0%{
        left: -100%;
        opacity: 0;
    }
    25%{
        left: -90%;
        opacity: 0.1;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}